.search-input {
    padding: 0.5rem;
    flex-grow: 1;
    min-width: 700px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-results {
    position: absolute;
    margin-top: 0.5rem;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0.5rem;
    max-height: 300px;
    min-width: 500px;
    overflow-y: auto;
}

.search-item {
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.search-item:last-child {
    border-bottom: none;
}

.search-item:hover {
    background-color: #f2f2f2;
}

@media (max-width: 480px) {
    .search-input {
        min-width: 400px;
    }
    .search-results {
        min-width: 400px;
    }
}



